# Environments & Python
.env
.env.*
venv/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Data Structure
data/**/*
!data/**/.gitkeep

# Whitelist (Keep these in Git/visible to LLM)
!data/gold_validation/Gold_lables.jsonl
!data/processed/*.json
!data/processed/val.jsonl
!data/processed/test.jsonl
!data/silver_labels/*.json
!data/silver_labels/*.jsonl

# Large Data (Ignore these to prevent Git/HF errors)
data/processed/train*.jsonl
data/silver_labels/teacher_output.jsonl
data/raw_youtube/*
!data/raw_youtube/.gitkeep

# Models, Logs, and Results
models/
logs/
results/
*.log
tensorboard/
*.pth
*.bin

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/